@font-face {
  font-family: 'RobotoLight';
  src: url('~@/assets/fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'RobotoRegular';
  src: url('~@/assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  