<template>
  <div
    :class="[direction]"
    class="app-input-group"
  >
    <div
      v-for="(item, ndx) in groupItems"
      :key="ndx"
      class="app-input-group__item"
    >
      <div
        :style="{ backgroundImage: `url(${logo})`}"
        class="app-input-group__item-logo"
      />
      <div>
        <div class="app-input-group__item-header">{{ item.title }}</div>
        <div class="app-input-group__item-content">
          <AppInput
            v-model="item.model"
            :placeholder="item.placeholder"
            @focus="onFocus"
            @input="onChange"
          /> 
          <div class="app-input-group__item-description">{{ item.description }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import logo from '@/assets/images/hugh.png'
import AppInput from '@/components/AppInput'

export default {
  name: 'AppInputGroup',
  components: { AppInput },
  props: {
    groupItems: { type: Array, required: true },
    direction: { type: String, default: 'column' }
  },
  data: () => ({
    logo,
    GROUP_ITEM_CLASS: '.app-input-group__item'
  }),
  methods: {
    onChange() {
      this.$emit('groupChange', this.groupItems)
    },
    onFocus(e) {
      document.querySelectorAll(this.GROUP_ITEM_CLASS).forEach(item => {
        item.classList.remove('active')
      })
      e.target.parentNode.parentNode.parentNode.classList.add('active')
    }
  }
}
</script>
<style scoped lang="scss">
.app-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.row {
    flex-direction: row;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }

  &__item-header {
    text-transform: uppercase;
    color: #2c2c30;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__item-logo {
    width: 59px;
    height: 59px;
    background-size: cover;
    background-position: 50%;
    margin-right: 20px;
    border: 2px solid transparent;
    background-repeat: no-repeat;
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item-description {
    font-family: 'RobotoLight';
    margin-left: 15px;
    font-size: 14px;
  }
}

.app-input-group__item.active {
  .app-input-group__item-logo {
    border-radius: 50%;
    border: 2px solid #2540ff;
  }

  .app-input-group__item-header {
    color: #2540ff;
  }
}
</style>
