<template>
  <input
    :type="type"
    :disabled="disabled"
    :placeholder="placeholder"
    :value="value"
    :style="{ width: `${fieldWidth}px` }"
    class="app-input"
    @keypress="onlyNumber"
    @focus="$emit('focus', $event)"
    @input="onInput($event.target.value)"
/>
</template>
<script>
export default {
  name: 'AppInput',
  props: {
    value: { required: true },
    type: { type: String, default: 'text' },
    placeholder: { type: String, default: '' },
    disabled: { type: Boolean, default: false }
  },
  data: () => ({
    fieldWidth: 0
  }),
  methods: {
    onlyNumber(e) {
      let keyCode = (e.keyCode ? e.keyCode : e.which);
      if (keyCode < 48 || keyCode > 57) {
        e.preventDefault()
      }
    },
    onInput(value) {
      const newVal = this.parseValue(value)
      this.fieldWidth = this.calculateFieldWidth(newVal)
      this.$emit('input', newVal)
    },
    parseValue(val) {
      return val
        .replace(/\s/g, '')
        .replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
    },
    calculateFieldWidth(val) {
      const SYMBOL_WIDTH = 7
      return val.length * SYMBOL_WIDTH
    }
  }
}
</script>
<style lang="scss" scoped>
.app-input {
  min-width: 50px;
  padding: 10px 0;
  outline: none;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #c9c9cf;
  color: #2c2c30;
  font-weight: 600;

  &:focus {
    border-bottom: 1px solid #2540ff;
  }
}
</style>
