<template>
  <div id="app">
    <button class="controller" @click="toggleDirection">{{ groupDirectionTitle }}</button>
    <div
      v-if="models.length"
      class="results"
    >
      outputs: {{ models }}
    </div>
    <AppInputGroup
      :groupItems.sync="groupItems"
      :direction="groupDirection"
      @groupChange="onGroupChange"
    />
  </div>
</template>
<script>
import AppInputGroup from '@/components/AppInputGroup'

export default {
  name: 'app',
  components: { AppInputGroup },
  data: () => ({
    groupDirection: 'column',
    models: '',
    groupItems: [
      { title: 'HUGH IS', description: 'hours old 1', placeholder: 'value 1', model: '' },
      { title: 'HUGH IS', description: 'hours old 2', placeholder: 'value 2', model: '' },
      { title: 'HUGH IS', description: 'hours old 3', placeholder: 'value 3', model: '' },
      { title: 'HUGH IS', description: 'hours old 4', placeholder: 'value 4', model: '' }
    ]
  }),
  computed: {
    groupDirectionTitle() {
      return this.groupDirection
    }
  },
  methods: {
    toggleDirection() {
      this.groupDirection = this.groupDirection === 'column' ? 'row' : 'column'
    },
    onGroupChange(groupItems) {
      this.models = groupItems
        .filter(item => !!item.model)
        .map(item => item.model)
    }
  }
}
</script>

<style lang="scss">
@import "@/styles/fonts.scss";

#app {
  font-family: 'RobotoRegular', 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;

  .controller {
    min-width: 150px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 7px 10px;
    outline: none;
    border-radius: 8px;
    border: none;
    background: #5fadd6;
    color: #fff;

    &:hover {
      cursor: pointer;      
    }
  }
}
</style>
